<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} " />

    <style th:inline="text">
        .background {
            background: url('/image/minimal-art.jpg') no-repeat center center fixed;
	        background-size: cover;
        }        
    </style>
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark"></nav>
    <h1 class="text-center"  style="font-family: Georgia, serif;">Update Your Todo. ヽ(•‿•)ノ</h1>
</nav>
</head>

<body class="background">
    <div class="container">
        <hr/>
        <div class="col-md-6">
            <form action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" th:field="*{description}" id="description"
                        placeholder="Add a description">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:checked="${complete} == true" th:field="*{complete}" id="complete" />
                        Complete
                    </label>
                </div>

                <button class="btn btn-success" type="submit">Update</button>

                <input type="hidden" th:field="*{createdDate}" />
                <input type="hidden" th:field="*{modifiedDate}" />
            </form>
        </div>
    </div>
</body>
<div th:insert="footer :: footer"></div>

</html>